{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock javascripts %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="css/home.css">
{% endblock stylesheets %}


{% block title %}CV Maxime LARQUETOUX!{% endblock %}

{% block body %}


<div class="block d-flex justify-content-center text-center ">
    <a href="{{path('portfolio')}}">
        <img src="images/portfolio.jpg" alt="image_portfolio">
        <h1>Portfolio</h1>
    </a>
    <a href="{{path('experience')}}">
        <img src="images/experiences.jpg" alt="image_experiences">
        <h1>Experiences</h1>
    </a>
    <a href="">
        <img src="images/competences.jpg" alt="image_competences">
        <h1>Compétences</h1>
    </a>
</div>

{% endblock %}