<div class="profil m-20">
    <a class="d-flex align-items-center " href="{{path('aboutme')}}">
        <img src="{{asset('images/profil.jpg')}}" alt="photo_de_profil">
        <h1 class="m-10">Maxime <br> Larquetoux</h1>
    </a>
</div>