body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

article {
    margin: 100px 200px;
    padding: 0px 50px 100px 50px;
    background: #0e1521;
    background-position: center;
    background-size: contain;
    font-size: x-large;
    border-radius: 25px;
    color: aliceblue;
    box-shadow: var(--box-shadow-hover);

}

section {
    text-align: center;
}

section h1 {
    font-size: xx-large;
    margin: 50px;
    color: var(--secondary);
}