body {
    background: url('../images/background.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 30px;
    color: var(--secondary);
    margin-bottom: 100px;

}

.about {
    padding: 300px 300px 0px 300px;
    margin-top: 850px;
}


.speech {
    border: 2px solid var(--secondary);
    margin-top: -45%;
    padding: 100px;
    text-align: center;
    font-size: 20px;
    background: var(--color-dark);
    border-radius: 20px;
    box-shadow: 1px 2px 15px black;
}

.speech img {
    border: 5px solid var(--color-dark);
    border-radius: 50%;
    margin-top: -200px;
}

.speech h1 {
    color: var(--secondary);
}

.speech p {
    color: var(--primary);
}

.speech img,
h1,
p {
    margin-bottom: 70px;
}

section {
    margin: 100px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section p {
    color: var(--primary);
    font-size: x-large;
}

.search {
    padding: 200px;
}

.img_portfolio {
    padding: 150px 0px;
    background-color: var(--color-dark);
    border-top: 5px solid var(--secondary);
    border-bottom: 5px solid var(--secondary);
}


.block {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block img {
    cursor: pointer;
    background-size: cover;
    width: 450px;
    margin: 20px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid var(--secondary);
    box-shadow: var(--box-shadow);
    transition: .5s;
}

.block img:hover {
    border: 5px solid var(--primary);
}

.reseaux {
    padding: 200px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons a {
    box-shadow: var(--secondary) 15px 5px 2px;
    margin: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: var(--secondary) 5px solid;
    background-color: var(--secondary);
    transition: 0.3s;
}

.icons a:hover {
    box-shadow: none;
}

@media screen and (max-width:1500px) {
    .about {
        padding: 0% 10%;
    }

    .speech {
        margin: 0% 10%;
    }
}

@media screen and (max-width:1150px) {
    .block img {
        margin: 5px;
    }

    .speech {
        margin: 0% 0%;
    }
}

@media screen and (max-width:950px) {
    .about {
        padding: 0% 0%;
    }

    section {
        margin: 250px 50px;
    }

    .block img {
        width: 100%;
        margin: 15px;
    }
}

@media screen and (max-width:950px) {
    .block img {
        width: 100%;
    }

    .reseaux {
        flex-wrap: wrap;
    }
}