.project {
    text-align: center;
}

.project h2 {
    color: var(--secondary);
}

.project div .content {
    margin: 0px 200px;
    text-align: center;
    font-size: large;
    margin-bottom: 50px;
}

.ProjectName {
    height: 820px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ProjectName .title {
    color: var(--secondary);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 55px;
    margin: 0px 350px;
}

.ProjectName img {
    margin-bottom: 500px;
}

article {
    border-bottom: 2px dashed var(--primary);
    overflow: hidden;
    padding: 150px;
}

.content {
    margin: 0px 300px;
    background-color: var(--color-dark);
    box-shadow: 0px 3px 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.resume {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.block {
    margin: 0px 0px;
    color: var(--primary);
}

.missions {
    background-color: #182437;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.technology img {
    margin: 0px -450px;
}

.picture {
    background-color: #182437;
    padding: 50px 0px;

}

.other_picture img {
    border: 1px solid black;
    margin: 5px;
}

h2 {
    margin-bottom: 100px;
    font-size: xx-large;
}

@media screen and (max-width:1600px) {
    .content {
        margin: 0px 100px;
    }
}

@media screen and (max-width:1200px) {

    .content {
        margin: 0px 0px;
    }

    .technology img {
        width: 800px;
    }

    .resume {
        text-align: justify;
        margin: 100px 0px;
    }

    .block {
        margin: 100px 0px;
    }
}

@media screen and (max-width:900px) {
    .ProjectName {
        display: none;
    }

    .technology img {
        width: 500px;
    }
}

@media screen and (max-width:510px) {
    .other_picture img {
        width: 300px;
    }

    .technology img {
        width: 300px;
    }
}