.project {
    text-align: center;
}

.project h2 {
    color: var(--secondary);
}

.project div .content {
    margin: 0px 200px;
    text-align: center;
    font-size: large;
    margin-bottom: 50px;
}

.ProjectName {
    height: 820px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ProjectName .title {
    color: var(--secondary);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 55px;
    margin: 0px 350px;
}

.ProjectName img {
    margin-bottom: 500px;
}

article {
    border-bottom: 2px solid var(--primary);
    overflow: hidden;
    padding: 0px 250px 300px 250px;
}

.content {
    background-color: var(--color-dark);
    box-shadow: 0px 3px 5px;
}

.resume {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.block {
    margin: 0px 0px;
    font-size: x-large;
    color: var(--primary);
}

.missions {
    background-color: #182437;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 100%;
}

#slider {
    width: 40%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider img {
    width: 100%;
    margin-bottom: 100px;
    border: 10px double var(--secondary);
    box-shadow: var(--box-shadow);

}

.picture {
    background-color: #182437;
    padding: 50px 0px;

}

.other_picture img {
    border: 1px solid black;
    margin: 5px;
}

h2 {
    padding: 200px 0px 150px 0px;
    font-size: xx-large;
}

@media screen and (max-width:1200px) {
    article {
        padding: 0px 100px 250px 100px;
    }
}

@media screen and (max-width:900px) {
    .ProjectName {
        display: none;
    }
}

@media screen and (max-width:550px) {
    article {
        padding: 0px 15px 100px 15px;
    }

    article div {
        text-align: justify;
    }

    #slider {
        width: 100%;
    }

    .other_picture img {
        width: 300px;
    }
}