h2 {
    margin-bottom: 100px;
    color: var(--secondary);
    font-size: xx-large;
}
.project div .content {
    text-align: center;
    font-size: large;
    margin-bottom: 50px;
}

.content{
    margin: 200px;
}

.resume{
    background-color: #182437;
}

article {
    margin-bottom: 250px;
    text-align: center;
    overflow: hidden;
    padding: 10%;
}

.block {
    font-size: x-large;
    color: var(--primary);
}

.resume {
    border-top: 1px solid rgb(2, 200, 255);
    border-bottom: 1px solid rgb(2, 200, 255);
}

/* Slider */
.mySlides{
    display: none;
    border: 10px double var(--secondary);
}

img{  
    max-height: 700px;
    vertical-align: middle;
}
.slideshow-container{

    margin:auto;
    margin-top: 100px;
    margin-bottom: 300px;
    max-width: 80%;
    position: relative;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 20px;
    margin-top: -50px;
    margin: -50px 10px 0 10px;
    color: var(--primary);
    font-weight: bold;
    font-size: 55px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0.612);
}
.dots{
    margin-top: -35px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.active, .dot:hover{
    background-color: var(--secondary);
}

.missions {
    border-top: 1px solid rgb(2, 200, 255);
    border-bottom: 1px solid rgb(2, 200, 255);
    background-color: #182437;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 100%;
}

@media screen and (max-width:1650px) {
    .ProjectName{
        height: 500px;
    }
}

@media screen and (max-width:1200px) {
    .ProjectName{
        height: 400px;
    }
    article {
        padding: 0px 100px 250px 100px;
    }
}

@media screen and (max-width:900px) {
    .ProjectName {
        display: none;
    }
}

@media screen and (max-width:550px) {
    article {
        padding: 0px 15px 100px 15px;
    }

    article div {
        text-align: justify;
    }

    #block_img {
        width: 100%;
    }

    .other_picture img {
        width: 300px;
    }
}