{% extends 'base.html.twig' %}

{% block title %}Hello ExperienceController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="css/experience.css">
{% endblock stylesheets %}

{% block body %}
<div class="d-flex justify-content-center flex-column">
    <article>
        <div class="d-flex flex-fill flex-row-wrap justify-content-around align-items-center">
            <div class="exp-block m-50">
                <h2>Afpa</h2>
                <div>
                    <img src="images/afpa.webp" alt="logo-afpa">
                    <div class="text d-flex flex-fill flex-row-wrap">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis beatae cumque dolor, totam
                    tempora nemo unde! Sequi explicabo officiis doloremque ad, expedita iusto quos ipsa ipsum,
                    repellendus totam quis iste!
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column text-center align-items-center">
                <h1 class="m-50">De 2022 à 2023</h1>
                <img src="images/fleche.webp" alt="fleche" style="max-width:150px ;transform:rotate(180deg);">
            </div>
            <div class="exp-block m-50">
                <h2>Inetum</h2>
                <img src="images/Inetum.webp" alt="logo_inetum">
                <div class="text">
                    Inetum est une ESN (Entrprise de Services du Numérique) agile qui fournit des services
                    et des solutions numériques, et un
                    groupe mondial qui aide les entreprises et les institutions à tirer le meilleur parti du digital
                    flow.
                    Durant ce stage, j'ai dû créer un système de gestion de licence avec une interface utilisateur pour
                    une solution (X7) déjà
                    existante qui propose selon beaucoup de critères différents d'effectuer des factures en pour les
                    relevés de compteur d'eau à l'international.
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="d-flex flex-fill flex-row-wrap justify-content-around align-items-center">
            <div class="exp-block m-50">
                <h2>MODE 83</h2>
                <div>
                    <img src="images/logo-mode.webp" alt="logo-mode83">
                    <div class="text d-flex flex-fill flex-row-wrap">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed consequatur, eum optio earum
                        ab
                        architecto mollitia enim itaque illum fugiat quisquam, aliquam quae culpa animi eligendi quia
                        aut
                        pariatur?
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column text-center align-items-center">
                <h1 class="m-50">De 2021 à 2022</h1>
                <img src="images/fleche.webp" alt="fleche" style="max-width:150px ;transform:rotate(180deg);">
            </div>
            <div class="exp-block m-50">
                <h2>La Petite Patronne</h2>
                <img src="images/la_petite_patronne.webp" alt="logo_lapetitepatronne">
                <div class="text">
                    La petite patronne est une micro-entreprise qui se situe à Taradeau, dans une petite
                    ville du Var. Christelle, patronne de l'entreprise, est passionné de couture vend sur son site web
                    des patrons de coutures.
                    Pendant ce stage, j'ai du effectuer une maquette de conception d'un nouveau site web e-commerce en
                    prenant le site déjà existant. J'ai ensuite créé le site web à partir du CMS Wordpress avec le thème
                    Astra et de différents plugins.
                </div>
            </div>
        </div>
    </article>
    <article>
        <h1 class="text-center m-50">En 2020</h1>
        <section>
            <h2>Twineo :</h2>
            <div class="content d-flex align-items-center text-justify">
                <img src="images/twineo.webp" alt="logo_twineo">
                <div class="m-50">Twineo est une SARL qui à été créée dans le but d'apporter grâce à son service One
                    Head, de l'informatique simple et efficace avec des tarifs adaptés à la taille de l'entreprise.
                    Ce stage m'a permis d'apprendre le php avec un framework propre à l'entreprise que j'ai utilisé pour
                    implémenter des parties de code sur un site déjà existant.
                </div>
            </div>
        </section>
    </article>
</div>
{% endblock %}